.addToCart {
  float: right;
  margin: 80px 10px 80px 10px;
  color: rgb(24, 134, 34);
  border: none;
  background: transparent;
}

.Dish_block {
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Dish_info {
  padding-top: 30px;
  color: rgb(46, 29, 109);
}

.Dish_info p{
  font-weight: bold;
}